<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Khamyang (Tai-Khamyangs or Shyam), is a subgroup of the Tai peoples of Southeast Asia.[1] They are numerically a small indigenous group found in Tinsukia, Jorhat, Sivasagar and Golaghat districts of Assam, and adjacent parts of Arunachal Pradesh. Their population totals about 7,000, of which only a small minority speak the native Tai Khamyang language while the vast majority speak the Assamese language. The Khamyang are followers of Theravada Buddhism and are closely related to the Khamti. They maintain good relations with other Tai Buddhist tribes of Assam.

They ruled an independent principality in Mungkong until the end of the 18th century. Many Khamyang have historically used "Shyam", which is a cognate with "Siam", the old word for Thailand, as a surname. The modern trend is for mostly their family names: Thaomung, Chowlu, Chowlik, Tungkhang, Wailong, Pangyok, Chowsong and Chowhai</title>
</head>
<body>

</body>
</html>